.messaging-rules {
  font-family: Cera Headings, Helvetica Neue, sans-serif;
  /* color: #230b41; */
  font-weight: 400;
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 36px;
}

.main-div-messaging-rules {
  padding-top: 40px;
}

.dropdown-menu.show {
  width: 70%;
}

.dropdown-menu.show {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.more-button {
  background: none;
  border: none;
  outline: none;
}

.add-new-button-div {
  display: flex;
  justify-content: flex-end;
}

.add-new-button {
  border: none;
  outline: none;
  background: #007bff;
  font-size: 14px;
  padding: 0 12px !important;
  border-radius: 4px;
  color: #fff;
  min-height: 30px;
}

.add-new-button:hover {
  box-shadow: 5px 5px lightgrey;
}

.rules-list-tr {
  background: #fff;
}

.rules-list-tr:hover {
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
}

.header-tr {
  background: #fff;
}

.header-th {
  border: none;
  color: #b3afbb;
  font-size: 12px;
  font-weight: 400;
}

.properties-list {
  width: 26px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  cursor: pointer !important;
  border: 1px solid #fff;
}

.all-span {
  border-radius: 10px;
  font-size: 10px;
  padding: 5px 7px;
  width: fit-content;
  color: #fff;
  background: #ed3c6a;
  cursor: pointer !important;
}

.more-properties {
  background: #5c576a;
  min-width: 26px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  left: -21px;
  padding: 1px 3px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  cursor: pointer !important;
  border: 1px solid #fff;
}

.properties-list-wrapper {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-width: 100px;
}

.no-rules-wrapper {
  text-align: center;
}

.more-ui {
  max-height: 300px !important;
  max-width: 112px !important;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: 0;
  padding: 10px !important;
}

.more-li {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

.more-li:hover {
  background: rgba(0, 0, 0, 0.04);
}