.form-input {
  font-family: monospace;
}

.main-div {
  margin-top: 20px;
}

.select-unit {
  font-family: monospace;
}

.label {
  font-family: monospace;
  color: #007bff;
}

.model-div {
  border: 1px solid #007bff;
  padding: 10px;
  border-radius: 15px;
}

.loader {
  margin: 25% 40%;
}

.fc-h-event {
  border-radius: 33px;
  text-align: center;
}

/* .fc-h-event .fc-event-main {
  color: #007bff;
} */

.fc-day-grid-event .fc-content {
  white-space: normal !important;
}

.img-calendar{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}