.scope-main-wrapper {
  margin-top: 24px;
  padding: 24px 0 0;
  border-top: 1px solid #e5e2e9;
}

.scope-h3 {
  font-size: 1.25em;
  color: #230b41;
  padding-right: 40px;
}

.scope-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
}

.unit-list-wrapper {
  max-height: 280px;
  overflow-y: auto;
}

.scope-box {
  opacity: 1;
  flex: 0 1 30%;
  box-sizing: border-box;
  transition: opacity 0.25s ease-in-out;
  border-radius: 4px;
  border: 1px solid #e5e2e9;
  padding: 24px;
}

.all-properties-h4 {
  font-size: 1em;
}

.clear-selection-span {
  color: #47c693;
  cursor: pointer;
}

.zero-length {
  border: 5px solid #f69db4 !important;
}
