.options {
  color: #fff;
}

.form {
  border: 1px solid black;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}

.save-button {
  border: none;
  color: white;
  background: #007bff;
  padding: 5px 40px;
}

.invoice-div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}
