.property_icon {
  width: 40px;
  height: 30px;
  border-radius: 2px;
  margin-right: 8px;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-right: 8px;
}

.units-div {
  display: flex;
  max-width: 50%;
  justify-content: space-between;
}

.units-row :hover {
  background: #adadad;
  border-radius: 5px;
}

.units-pic-name-div:hover {
  text-decoration: none;
}
