#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.hljs__copy {
  position: absolute;
  right: 12px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: none;
  border: none;
  outline: none;
  z-index: 20;
}

.hljs__copy-title {
  margin-right: 10px;
  color: #666 !important;
  font-size: 14px;
  line-height: 1;
  transition: all 0.2s;
}

.hljs__copy-title._show {
  opacity: 1;
}

.hljs {
  position: relative;
  background: #000000;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 55px 50px 15px 22px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: block;
}

.scroll-content {
  display: flow-root;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scrollbar-track {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  user-select: none;
  transition: opacity 0.5s 0.5s ease-out;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  opacity: 1;
  background: #ddd;
  display: none;
}

.hljs__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #1e1f1c;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hljs__header-dots {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 14px;


}

.hljs__header-dots-span {
  width: 12px;
  height: 12px;
  background: #8C8C8C;
  border: 1px solid #8C8C8C;
  margin-right: 8px;
  border-radius: 50%;
}

.hljs__header-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #8c8c8c;
}